---
layout: default
title: Acrylic!
---
{% assign top-images = site.data.ms.acrylic.top-images %}
{% assign bottom-images = site.data.ms.acrylic.bottom-images %}

<div class="yo">
<h1 style>Acrylic</h1>
<h2>fluid art – создаем картину жидким акрилом!</h2>
<p>
  Для всех, кому срочно нужно добавить в жизнь ярких красок и немного волшебства! Даже для тех, кто думает, что не умеет рисовать, но очень хочет творить :)</p>
<p>
  Приходите на мастер-класс по живописи – и сможете сами создать живую картину акрилом.
</p>

<div class="highlights">
  <p><span style="font-size: 2em">🤷</span><br>без знаний<br>и опыта</p>
  <p class=""><span style="font-size: 2em">👛</span><br>850 грн.</p>
  <p class=""><span style="font-size: 2em">⏳</span><br>2 часа</p>
  <p class=""><span style="font-size: 2em">🎨</span><br>материалы включены</p>
</div>

<div id="img-up">
  {% for top-image in top-images %}
    <a href="#"><img src="{{ top-image }}" /></a>
  {% endfor %}
</div>

<p>
  Процесс завораживает: на ваших глазах на холсте рождается красочный космос... А в душе – понимание: так это мне только казалось, что я не художник!
</p>
<p>
  Будет немного полезной теории («как правильно смешивать краски?») плюс знакомство с материалами («а для чего газовая горелка?»). И главное – практика: рождение вашего собственного неповторимого шедевра.
</p>

<div id="img-bottom">
  {% for bottom-image in bottom-images %}
    <a href="#"><img src="{{ bottom-image }}" /></a>
  {% endfor %}
</div>

<script>
  $("#img-up").justifiedGallery({rowHeight: 300});
  $("#img-bottom").justifiedGallery({rowHeight: 300});
</script>

<style>
  .highlights { 
    font-size: 2em;
    display: flex;
    flex-direction: row;
    font-weight: bold
  }
  .highlights p { width: 25%; text-align: center }
</style>
