---
layout: default
title: Барельеф!
---
{% assign top-images = site.data.ms.bas-relief.top-images %}
{% assign bottom-images = site.data.ms.bas-relief.bottom-images %}

<div class="yo">
<h1 style>Барельеф</h1>
<h2>Картина, созданная буквально своими руками!</h2>
<p>
  Наш мастер-класс – для тех, кто мечтает поработать руками и почувствовать, как под ними рождается чудо. Скульптором-профи для этого быть совсем не нужно! А все материалы предоставляет мастерская.
<p>
  Барельеф – удивительное явление: похоже на картину, и при этом имеет объем. А его создание – отличная терапия. Плюс – тактильное удовольствие, минус – всякие стрессы.
</p>

<div class="highlights">
  <p><span style="font-size: 2em">🤷</span><br>без знаний<br>и опыта</p>
  <p class=""><span style="font-size: 2em">👛</span><br>700 грн.</p>
  <p class=""><span style="font-size: 2em">⏳</span><br>3 часа</p>
  <p class=""><span style="font-size: 2em">🎨</span><br>материалы включены</p>
</div>

<div id="img-up">
  {% for top-image in top-images %}
    <a href="#"><img src="{{ top-image }}" /></a>
  {% endfor %}
</div>

<p>
  На занятии познакомимся с технологиями работы и секретами синтетической глины, поговорим о полуобъемной композиции. И, конечно, погрузимся в практику: будем вдохновенно лепить с перерывом на чай.
</p>
<p>
  Каждый унесет картину-барельеф, чтобы украсить дом или подарить близким!
</p>

<div id="img-bottom">
  {% for bottom-image in bottom-images %}
    <a href="#"><img src="{{ bottom-image }}" /></a>
  {% endfor %}
</div>

<script>
  $("#img-up").justifiedGallery({rowHeight: 300});
  $("#img-bottom").justifiedGallery({rowHeight: 300});
</script>

<style>
  .highlights {
    font-size: 2em;
    display: flex;
    flex-direction: row;
    font-weight: bold
  }
  .highlights p { width: 25%; text-align: center }
</style>
